---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Smart Wallet">
    <div class="flex flex-col items-center justify-center gap-10">
      <div class="flex max-w-sm flex-wrap">
        <img
          src="/namex.svg"
          alt="Smart Wallet Logo"
          class="w-84 mx-auto mb-10"
        />
        <img src="/logo.svg" alt="Smart Wallet Logo" class="w-52 mx-auto" />
      </div>
      <div class="mx-auto max-w-2xl text-center">
        <p class="text-gray-400 text-2xl">Controla tu futuro</p>
        <p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed">
          Una aplicación que te permite controlar tus finanzas de manera
          sencilla y segura.
          <br />
          Ahorra tiempo y dinero con Smart Wallet.
        </p>
      </div>

      <div class="mt-10 flex flex-wrap justify-center gap-4 text-center max-w-60">
        <a
          class="block w-full rounded border bg-[#EC7C69] px-12 py-3 text-sm text-black font-bold focus:outline-none"
          href="/signin"
        >
          Empezar mi Ahorro
        </a>

        <a
          class="block w-full rounded border border-[#EC7C69] px-12 py-3 text-sm font-medium text-white focus:outline-none sm:w-auto"
          href="/home"
        >
          Aprende Más
        </a>
      </div>
    </div>
</Layout>
